.wrapperHeader{
    background-image: url('../4-assets/piano.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height:150px;
    background-position: bottom;
    width: 1300px;
    margin: 30px;
} 

#headTitle{
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 30px;
    stop-opacity: initial;
    
}
body{
    background-image: url("../4-assets/violin.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: .8;
    width: 1300px;
    margin: 30px;
}
li {
    float: left;
}
li a {
    display: block;
    color: rgb(15, 238, 52);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

li a:hover:not(.active) {
    background-color: #111;

}

.fa-linkedin {
    background: #4CAF50;
    color: white;
    border-radius: 50%;  
  }
  
  .fa-youtube {
    background: #4CAF50;
    color: white;
    border-radius: 50%;
  }
  .fa-instagram {
    background:  #4CAF50;
    color: white;
    border-radius: 50%; 
  }
  
#container1{
    background-color: black;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    width:800px;
    height: 550px;
    opacity: .7;
    margin: 40px
}
#containerText{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 2em;
    padding: 15px;
    text-align: center;
    
}
#containerFooter{
    color: darkgray;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 1200px 220px;
    opacity: .8;
    position:absolute;
    bottom:-118.5%;
    width:100%;
    height:60px; 
    left: 0;
    padding: 1rem;
    text-align: center;
    padding: 20px;
     

}
#infoBox{
  background-image: url("../4-assets/vtvlogo.jpg");
  background-size: 600px 600px;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
  width: 600px;
  left: 130%;
  bottom: 592px;
  opacity: .9;
  border: solid black;

}
#containerPic{
    position: relative;
    width: 270px;
    height: 300px;
    background-image: url("../4-assets/flowers.jpg");
    background-size: 270px 300px;
    background-position: center;
    left: 110px;
    
}